{% extends "layouts/base.html" %}

{% block title %}
    Add Guests - Your App Name
{% endblock title %}

{% block content %}
    <header class="text-center text-white d-flex masthead" style="background-image:url('/static/assets/img/header.jpg');">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h1 class="text-uppercase"><strong style="font-size: 36px;">ADD GUESTS</strong></h1>
                    <hr>
                </div>
            </div>

            <div class="card" style="padding: 40px;">
                <form action="{{url_for('addGuestSubmit')}}" method="post">

                    <label for="eid">Event ID<span>*</span>:</label>
                    <input type="text" id="eid" name="eid" value="{{ event.eid }}" readonly><br><br>
            
                    <label for="email">Email<span>*</span>:</label>
                    <input type="email" id="email" name="email" required><br><br>
            
                    <label for="gender">Gender:</label>
                    <select id="gender" name="gender">
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                        <option value="NULL">Other</option>
                    </select><br><br>
            
                    <label for="age">Age:</label>
                    <input type="number" id="age" name="age"><br><br>
            
                    <input type="submit" value="Add Guest">
                </form>
            </div>
        </div>
    </header>
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 text-center mx-auto">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="my-4">
                    <p class="mb-5">Any questions, problems, or suggestions about our platform? Feel free to reach out to us whenever!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 text-center ms-auto"><i class="fa fa-phone fa-3x mb-3 sr-contact" data-aos="zoom-in" data-aos-duration="300" data-aos-once="true"></i>
                    <p>123-456-6789</p>
                </div>
                <div class="col-lg-4 text-center me-auto"><i class="fa fa-envelope-o fa-3x mb-3 sr-contact" data-aos="zoom-in" data-aos-duration="300" data-aos-delay="300" data-aos-once="true"></i>
                    <p><a href="mailto:plannerly@plannerly.com">plannerly@plannerly.com</a></p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>

{% endblock content %}
